<div id="registrations">
	<dl>
		<% for registration in @registrations %>
			<dt><%= link_to(format_name(registration), registration)  %></dt>
			<dd><%= link_to 'Edit', edit_registration_path(registration) %> | <%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></dd>
		<% end %>
	</dl>
</div>
